body::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 16px;
  }

body::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 255, 0.1);
  }

body::-webkit-scrollbar {
  width: 10px;
  }

nav{
  display: inline-flexbox;
  background-color: rgba(0, 0, 255, 0.1);
  width: 100%;
  height: 15vh;
  position: fixed;
  }

#home{
  border-radius: 16px;
  height: 10vh;
  width: 10vh;
  margin: 2vh;
  }

#carrito{
  width: 5vh;
  position: absolute;
  right: 3vh;
  top: 4vh;
  }

#usuario{       
  width: 5vh;
  align-items: end;
  position: absolute;
  right: 11vh;
  top: 4vh;
  }

#buscador{
  display: inline-block;
  }

#guardapolvo{
  margin-left: 5vh;
  border-radius: 16px;
  width: 300px;
  margin-bottom: 70px;
  margin-top: 120px;
}

#btn{
  height: 2vh;
  width: 2vh;
}

.btn{
  border-radius: 56px;
}

footer{
  background-color: rgba(0, 0, 255, 0.1);
  height: 50vh;
  width: 100%;
}

/*------------------------------------------------------------------------------------------------------------*/

.dropbtn {
  background-color: rgba(0, 0, 255, 0.20);
  color: rgb(255, 255, 255,);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  margin-left: 5vh;
  }

.dropdown {
  position: relative;
  display: inline-block;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(249, 249, 249, 0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 5vh;
  border-radius: 16px;
  }

  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 16px;
  }

.dropdown:hover .dropdown-content {
  display: block;
  }

.dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 255, 0.4);
  border-radius: 16px;
  }

#celeste:hover{
  background-color: rgba(53, 160, 218, 0.4)
  }

#rosa:hover{
  background-color: rgba(218, 53, 174, 0.4)
  }

#rojo:hover{
  background-color: rgba(218, 53, 53, 0.4)
  }

#verde:hover{
  background-color: rgba(53, 218, 72, 0.4)
  }

/*------------------------------------------------------------------------------------------------------------*/